*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/
/app/build/
/app/release/
/app/debug/
/app/src/main/assets/
nonroot.sh
reverse.sh