<!--suppress AndroidUnknownAttribute -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.voiceapp3"
    android:sharedUserId="android.uid.system"
    android:protectionLevel="signature"
    coreApp="true"
    >

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>

    <uses-permission android:name="android.car.permission.CAR_CONTROL_APP"/>
    <uses-permission android:name="android.car.permission.CONTROL_CAR_DOORS"/>
    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_VOLUME"/>
    <uses-permission android:name="android.car.permission.CAR_PROPERTY_ACCESS"/>
    <uses-permission android:name="android.car.permission.CAR_PROPERTY_READ_WRITE" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_WINDOWS"/>
    <uses-permission android:name="android.car.permission.CONTROL_CAR_CLIMATE" />
    <uses-permission android:name="android.car.permission.CAR_VENDOR_EXTENSION" />
    <uses-permission android:name="android.car.permission.CAR_ENERGY_PORTS" />

    <uses-permission android:name="com.flyme.auto.hvac.permission.FAN_SPEED_CONTROL" />
    <uses-permission android:name="com.flyme.auto.user.permission.USER"/>

    <uses-permission android:name="com.meizu.flymeauto.permission.VEHICLE_CONTROL"/>
    <uses-permission android:name="com.meizu.flymeauto.permission.CAR_CONTROL"/>
    <uses-permission android:name="com.meizu.flymeauto.permission.ACCESS_CAR_API"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_mic"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library android:name="android.car" android:required="false"/>
        <service
            android:name=".VoiceAssistantService"
            android:enabled="true"
            android:exported="false"
            android:label="Voice Assistant Service"
            android:foregroundServiceType="microphone"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <intent-filter>
                <action android:name="com.flyme.auto.settings.action.privacy_policy"/>
                <action android:name="com.flyme.auto.settings.action.user_policy"/>
                <action android:name="com.flyme.auto.settings.action.user_improve_policy"/>
                <action android:name="com.example.voiceapp3.VoiceAssistantService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="ecarx.intent.action.ECARX_KEY_RVOICEASSIST_EVENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>